
.input-container{
    width: 30rem;
    margin: 1rem;
    align-self: center; 
    position: relative;
    border-radius: 5px;
    
}

.input-container input[type=text], textarea{
    outline: none;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    resize: none;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: transparent; 
    margin-bottom: 0.5rem;
}

.input-container input[type=text]:focus-within, textarea:focus-within{
    background-color: #fff;
    color: var(--secondary-color);
}

.add-notes{
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    border: none;

}

