.main{
   position: relative;
   left: 6.5rem;
   width: 100%;
   /* margin-left: 5.5rem; */
}

.main-notes-container{
   width: 100%;
}


.important{
   flex: 1;
   margin: 1rem 1rem 0 1rem;
   height: 600px;
   position: sticky
}