:root{
    
    --bg-color: #F9F5F6;
    --color: #171717;
    --primary-color: #0A2647;
    --secondary-color: #205295;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  /* height: 100vh; */
  font-family: 'Lugrasimo', cursive;
  background-color: var(--bg-color);
  color: var(--primary-color);
  overflow-x: hidden;
}
