@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');



body{
    line-height: 1.5;
}

.logo-bg{
    background-color: var(--primary-color);
    color: #f4f4f4;
}
.secondary-bg{
    background-color: var(--secondary-color);
    color: #f4f5f4;
}



.d-flex{
    display: flex;

}
.d-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-areas: 'sidebar main main main' */
                         
                         
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}
.j-center{
    justify-content: center;
}
.j-between{
    justify-content: space-between;
}
.j-around{
    justify-content: space-around;
}

.align-self{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}


.gap-sm{
    gap: 0.5rem;
}
.gap-medium{
    gap: 1rem;
}
.pd-8{
    padding: 0.5rem;
}
.pd-16{
    padding: 1rem;
}
.pd-32{
    padding: 2rem;
}

.h1{
    font-size: 2rem;
    
}

/* list */

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #a8a29e;
}



/* border */
.border-2px{
   border: 3px solid #205295;
}

.fix-pos{
    position: fixed;
    bottom: 0;
}

.border-bottom{
    border-bottom: 2px solid #205295;
}

/* ICON-STYLING */

.icon> *{
    width: 3rem;
    height: 2rem;
    
}
.icon-1x>*{
    width:1.8rem;
    height: 1.5rem
}
.icon-2x{
    width: 5rem;
    height: 3rem;
}

.left-7{
    left: 7rem;
}
.left-9{
    left: 9rem;
}