.Notes-Container{
    width: 20rem;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    border-top-left-radius: 10px;
    height: fit-content; 
}


.main-notes-container{
    width: 100%;
}

.content-container{
    text-overflow: wrap;
}