
.Notes-Container{
    width: 20rem;
    border-radius: 5px;
    height: fit-content; 

}


/* .main-notes-container{
    width: 100%;
} */

.icon{
    margin-left: auto;
}
.subject-container{
}

.content-container{
    text-overflow: wrap;
}